## Sven Co-op map CFG file - SCSkillz2 Version 2
## Map Author: Volcom82
## Place starting weapon_ and ammo_ cmds here (players spawn with them)

mp_banana 0
weapon_medkit
weapon_crowbar
ammo_crossbow 5
ammo_rpgclip 2
mp_timelimit 600
mp_fraglimit 0
mp_telefrag 0
starthealth 4500

## Physics Stuff -- DON'T change these!
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 350
sv_wateraccelerate 10
sv_waterfriction 1
mp_falldamage 0

## Disable HookMod
df_hook_on 0




